
helloWorld/.vs/helloWorld/v14/.suo
helloWorld/Debug/helloWorld.exe
helloWorld/Debug/helloWorld.ilk
helloWorld/Debug/helloWorld.pdb
helloWorld/helloWorld.sln
helloWorld/helloWorld.VC.db
helloWorld/helloWorld/Debug/helloWorld.log
helloWorld/helloWorld/Debug/helloWorld.tlog/CL.command.1.tlog
helloWorld/helloWorld/Debug/helloWorld.tlog/CL.read.1.tlog
helloWorld/helloWorld/Debug/helloWorld.tlog/CL.write.1.tlog
helloWorld/helloWorld/Debug/helloWorld.tlog/helloWorld.lastbuildstate
helloWorld/helloWorld/Debug/helloWorld.tlog/link.command.1.tlog
helloWorld/helloWorld/Debug/helloWorld.tlog/link.read.1.tlog
helloWorld/helloWorld/Debug/helloWorld.tlog/link.write.1.tlog
helloWorld/helloWorld/Debug/Source.obj
helloWorld/helloWorld/Debug/vc140.idb
helloWorld/helloWorld/Debug/vc140.pdb
helloWorld/helloWorld/helloWorld.vcxproj
helloWorld/helloWorld/helloWorld.vcxproj.filters
